{% extends 'base.html' %}
{% block header %}
	<div class="content">
		<h1> SITE NAME </h1>
		<div class="right">
			<a href="{% url 'signup'%}" >Signup</a><br />
			<a href="{% url 'login'%}" class="right">Login</a>
		</div>
	</div>
{% endblock header %}
{% block content %}
	<section class="banner">
		<div class="content">
			<p> Learn Fast coding </p>
			<p>Enter your Email : <input type="email" ></p>
			<input type="submit" id="login" value="LEARN MORE" />
		</div>
	</section>
	<section class="menu">
		<div class="content">
			<ul>
				<li> How it works </li>
				<li> Tutors </li>
				<li> Leaners </li>
				<li> Testimonials </li>
				<li> About us </li>
			</ul>
		</div>
	</section>
	<section class="examples">
		<div class="content">
			Examples
		</div>
	</section>
	<section class="courses">
		<div class="content">
			Courses
		</div>
	</section>
{% endblock content %}
{% block footer %}
	<div class="content">footer</div>
{% endblock footer %}

	