<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="content">
				<header>
					<div class="content">
						<h1> SITE NAME </h1>
					</div>
				</header>
				<div class="content">
					<div class="register">
						Course: <select name="course" >
									<option>Select Course</option>
								</select><br />
						First Name: <input type="text"><br />
						Last Name: <input type="text">	<br />				
						Email: <input type="email" /><br />
						Card Number : <input type="text" /><br />
						Verification code : <input type="text" /><br />
						Expiration date: <select name="course" >
											<option>Month</option>
										</select>
										<select name="course" >
											<option>Day</option>
										</select><br />
						<input type="button" value="Signup" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>